{% extends 'admin-frame.html.twig' %}

{% block title %}Itinéraires
{% endblock %}
{% block content %}
	<section class="boar-menu">
		<div class="container">
			<div class="row menu-head">
				<div class="col-xs-12 col-md-6 menu-title-section">
					<img src="{{ asset('assets/images/bus-station.png' )}}" class="logo-icon img-responsive" height="40" alt="Responsive image">
					<span class="title">Arrêts de bus</span>
				</div>
				{% if app.request.get('_route') == 'itineraire_list' %}
					<div class="col-xs-12 col-md-6 menu-button-section">
						<a class="btn btn-warning btn-sm float-right font-weight-bold" href="{{ path('arret_ajout') }}">
							<i class="fa fa-plus"></i>
							Ajouter un arrêt</a>
					</div>
				{% endif %}
			</div>
		</div>
	</section>
	<section style="background-color: #fff">
		<div class="container">
			<ul class="nav nav-tabs sub-menu">
				<li class="nav-item">
					<a class="nav-link {% if app.request.get('_route') == 'arret_list' %} active {% endif %}" href="{{ path('arret_list') }}">Tous les Arrêts</a>
				</li>
			</ul>
		</div>
	</section>
	{% block subcontent %}{% endblock %}
{% endblock %}
