{% extends 'header-frame.html.twig' %}

{% block title %}Arrêts de bus
{% endblock %}

{% block tagline %}
	<h3 style="color: #fff;">Trouvez plus facilement les horaires de passage et les arrêts des bus de l’université et de la SOTRUNI</h3>
{% endblock %}

{% block content %}
	<div class="container-fluid">
		<div class="row">
			<div class="col-xs-12 col-md-4" style="background-color: #fff; min-height: 50vh; padding-top: 12px;">
				<h3 class="text-center">Arrêts autours de moi</h3>
				{% for passage in passages %}
					<div class="card bus-stop">
						<div class="row no-gutters">
							<div class="col-2" style="padding: 10px;">
								<img src="{{ asset('assets/images/bus-station.png' )}}" class="card-img" alt="Bus Station" width="50px">
							</div>
							<div class="col-10">
								<div class="card-body" style="padding: 12px;">
									<h5 class="card-title" style="margin-bottom: 0px;">{{ passage.nom }}</h5>
									<p class="card-text">
										<small class="text-muted">{{ passage.description }}</small>
									</p>
								</div>
							</div>
						</div>
					</div>
				{% endfor %}
			</div>
			<div id="map" class="col-xs-12 col-md-8 arret-map"></div>
		</div>
	</div>
{% endblock %}
