{% extends 'header-frame.html.twig' %}

{% block title %}Accueil
{% endblock %}

{% block content %}
	<section class="search-sec">
		<div class="container">
			<div class="row"></div>
			<form action="#" method="post" novalidate="novalidate">
				<div class="row">
					<div class="col-12">
						<div class="row">
							<div class="col-md-5 col-sm-12 p-0">
								<div class="input-group mb-2">
									<div class="input-group-prepend">
										<div class="home-form input-group-text">Départ:</div>
									</div>
									<input type="text" class="form-control search-slt" id="from">
								</div>
							</div>
							<div class="col-md-5 col-sm-12 p-0">
								<div class="input-group mb-2">
									<div class="input-group-prepend">
										<div class="home-form input-group-text end">Arrivée:</div>
									</div>
									<input type="text" class="form-control search-slt" id="to">
								</div>
							</div>
							<div class="col-md-2 col-sm-12 p-0">
								<button type="button" class="btn btn-default wrn-btn">Recherche</button>
							</div>
						</div>
					</div>
				</div>
			</form>
		</div>
	</section>
	<section style="padding-top: 12px;">
		<div class="container">
			<div class="row">
				{% for itineraire in itineraires %}
					<div class="col-12">
						<div class="option mb-2">
							<div class="option-image">
								<span style="font-weight: 900;">{{ itineraire.compagnie.nom }}</span>
							</div>
							<div class="option-info">
								<h5 class="option-title">{{ itineraire.nom }}</h5>
							</div>
							<div class="option-check">
								<button class="btn btn-primary btn-sm">{{ itineraire.statut }}</button>
							</div>
						</div>
					</div>
				{% endfor %}
			</div>
		</div>
	</section>
{% endblock %}
