{% extends 'compagnie/compagnie-frame.html.twig' %}

{% block subcontent %}
	<section style="padding-top: 12px;">
		<div class="container">
			<div class="row">
				<div class="col-12 table-responsive">
					<table class="table">
						<thead>
							<tr>
								<th scope="col">Logo</th>
								<th scope="col">Nom</th>
								<th scope="col">Description</th>
								<th scope="col"></th>
							</tr>
						</thead>
						<tbody>
							{% for compagnie in compagnies %}
								<tr>
									<th scope="row">
										<img src="{{ asset('assets/images/dummy_logo.png' )}}" height="40" alt="">
									</th>
									<td>{{ compagnie.nom }}</td>
									<td>{{ compagnie.description }}</td>
									<td>
										<a class="btn btn-info btn-sm" href="{{ path('compagnie_modification', {id: compagnie.id}) }}">
											<i class="fa fa-edit"></i>
										</a>
										<button type="button" class="btn btn-danger btn-sm" data-toggle="modal" data-target="#compagnie-delete-modal">
											<i class="fa fa-trash"></i>
										</button>
									</td>
								</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</section>
	<!-- Modal -->
	<div class="modal fade" id="compagnie-delete-modal" tabindex="-1" role="dialog" aria-labelledby="compagnie-delete-modal-label" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="compagnie-delete-modal-label">Suprimer compagnie</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					Etes-vous sûr de vouloir suprimer la compagnie
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-dismiss="modal">
						<i class="fa fa-ban"></i>
						Annuler</button>
					<button type="button" class="btn btn-danger">
						<i class="fa fa-trash"></i>
						Suprimer</button>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
